# Supabase Direct Connection String
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.qxbqnjfydyzjhzgsxdsv.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.qxbqnjfydyzjhzgsxdsv.supabase.co:5432/postgres"

PORT=5000
JWT_SECRET="supersecret_boutique_key"
SUPABASE_URL="https://qxbqnjfydyzjhzgsxdsv.supabase.co"
SUPABASE_KEY="sb_publishable_eI991QCgkbHAXnPf6Ajuig_vSOa1MiY"
NEXT_PUBLIC_SUPABASE_URL="https://qxbqnjfydyzjhzgsxdsv.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_eI991QCgkbHAXnPf6Ajuig_vSOa1MiY"
